@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/Book" class="btn btn-primary btn-lg">Books</a>
            </div>
            <div class="col-md-4">
                <a href="/Character" class="btn btn-secondary btn-lg">Characters</a>
            </div>
            <div class="col-md-4">
                <a href="/House" class="btn btn-success btn-lg">Houses</a>
            </div>
        </div>
    </div>

</div>
